# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Reverce Troll Characters'
      'command': 'troll-stopper:reverce'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Troll Stopper'
      'submenu': [
        {
          'label': 'Reverce'
          'command': 'troll-stopper:reverce'
        }
      ]
    ]
  }
]
